.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(220, 220, 214);
    height: 100vh;
  }
  
  .faq-box {
    background-color: #f7f8f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 0;
    transition: background-color 0.3s ease;
  }
  
  .faq-item h3 {
    margin: 0;
  }
  
  .faq-item p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding-left: 20px;
    margin: 0;
    background-color: #f1f1f1;
  }
  
  .faq-item.open p {
    max-height: 100px;
  }
  
  .faq-item:hover {
    background-color: #f1f1f1;
  }
  
  
  h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
  }
  
  
  
  .faq-question {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .faq-answer {
    font-size: 18px;
    margin-top: 5px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .faq-title {
      font-size: 28px;
    }
  
    .faq-question {
      font-size: 20px;
    }
  
    .faq-answer {
      font-size: 16px;
    }
  }
  