.navbar {
  background-color: #282c34;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #e3dd8beb;
}

/* Lista för länkar */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
  display: inline-block; 
}

.navbar-links a:hover {
  transform: scale(1.2);
  color: #e3dd8beb;
}

/* Lägg till navbar-toggle för hamburgermenyn på mindre skärmar */
.navbar-toggle {
  display: none;
}

/* Media query för små skärmar */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #282c34;
    width: 100%;
    padding: 10px;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar-toggle {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .navbar-links.active {
    display: flex;
  }
}
